<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/style.css">

    <title>Waste Management System</title>
</head>
<body>
    <body>


    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">Waste Management System</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="/about" class="nav__link">About</a></li>

                    <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="/authority_register" class="nav__link">Authority</a></li>
                    <li class="nav__item"><a href="/user_register" class="nav__link">User</a></li>
                 
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="about-section">
  <h1>About the Project</h1>
  <br>
  <p>The waste management system project aims to develop an efficient and sustainable solution for handling and disposing of waste materials. By implementing advanced technologies and innovative strategies, the project seeks to minimize the environmental impact of waste and promote recycling and resource recovery. The system will incorporate waste segregation at the source, optimized collection and transportation methods, and state-of-the-art processing facilities. It will also focus on public awareness and education campaigns to encourage responsible waste disposal practices. Through this project, we aim to create a cleaner and healthier environment while reducing the burden on landfills and promoting the circular economy.</p>
</div>


<div class="row">
  <div class="column">
    <div class="card">
         <img src="/images/munna.jpg" alt="Sahil" style="width:100%">
      <div class="container">
        <h2>Munna Kumar</h2>
        <p class="title">Frontend Developer</p>
        <a href="https://github.com/munnarkumar27">Github</a>
        <p>mkumar270278@gmail.com</p>
      </div>
    </div>
  </div>

</div>
</body>
</html>