<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--========== CSS ==========-->
    <link rel="shortcut icon" href="/images/fav.png"  type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Waste Management System</title>
</head>
<body>
    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">Waste Management System</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="/about" class="nav__link">About</a></li>

                    <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="/authority_register" class="nav__link">Authority</a></li>
                    <li class="nav__item"><a href="/user_register" class="nav__link">User</a></li>
                 
                </ul>
            </div>
        </nav>
    </header>
    <!DOCTYPE html>


 <div class="mainbod">
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">NIT,PATNA</div>
          <div class="text-two">BIHAR INDIA</div>
        </div>
       
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">mkumar270278@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
          <br>
        <div class="topic-text">Send us a message</div>
        <br>
        <p>If you have any work from us or any types of queries, you can contact us from here. It's our pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>

  <footer>
  {{!-- <div class="footer-container">
    <div class="footer-content">
      <h3>Contact Us</h3>
      <p>Nit Panta, Inida</p>
      <p>Phone: 7050378525</p>
      <p>Email: mkumar270278@gmail.com</p>
    </div>
    <div class="footer-content">
      <ul >
        <li ><a href="/" >Home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/authority_register">Authority</a></li>
        <li><a href="/user_register">User</a></li>
      </ul>
    </div> --}}
    <div class="footer-content">
      <ul class="social-media" >
        <li><a href="https://www.facebook.com/Munnakumar27" ><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.twitter.com/munnakumar_27/"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/munnakumar_27/"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
    <p>&copy; 2023 Waste Management. All rights reserved. | Developed by <a href="https://munna-portfolio.vercel.app/" style="text-decoration: none; color:aqua">Munna kumar</a></p>
  </div>
  </div>
  
</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>